* {
    margin: 0;
    padding: 0;
}

:root {
    --cyan: hsl(179, 62%, 43%);
    --light-cyan: hsl(180, 47%, 52%);
    --bright-yellow: hsl(71, 73%, 54%);
    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);
    --white: #fff;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: "Karla", sans-serif;
    line-height: 1.5;
    color: var(--white);
    background-color: var(--light-gray);
}

div.single-price-component {
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--white);
    border-radius: 5px;
}

div.single-price-component section {
    padding: 40px;
}

div.single-price-component section.subscription-part,
div.single-price-component section.why-us-part {
    flex: 1;
}

div.single-price-component section.subscription-part h3,
div.single-price-component section.why-us-part h3 {
    font-size: 15px;
    margin-bottom: 10px;
}

div.single-price-component section.community-part {
    max-width: 100%;
}

div.single-price-component section.community-part h1 {
    color: var(--light-cyan);
}

div.single-price-component section.community-part h2 {
    margin: 20px 0 16px 0;
    font-size: 16px;
    color: var(--bright-yellow);
}

div.single-price-component section.community-part p {
    font-size: 15px;
    color: var(--grayish-blue);
}

div.single-price-component section.subscription-part {
    background-color: var(--cyan);
    border-bottom-left-radius: 5px;
}

div.single-price-component section.subscription-part p:first-of-type {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 100;
}

div.single-price-component section.subscription-part p:first-of-type span {
    font-size: 30px;
    font-weight: 400;
    margin-right: 10px;
}

div.single-price-component section.subscription-part p:last-of-type {
    font-size: 14px;
}

div.single-price-component section.subscription-part button {
    border: none;
    padding: 14px 0;
    margin-top: 30px;
    width: 100%;
    border-radius: 5px;
    color: var(--white);
    background-color: var(--bright-yellow);
    box-shadow: 0px 3px 10px -3px #00000073;
    transition: transform .4s ease, box-shadow .4s ease;
    cursor: pointer;
}

div.single-price-component section.subscription-part button:hover {
    transform: scale(1.02);
    box-shadow: 0px 3px 10px -6px #00000073;
}

div.single-price-component section.why-us-part {
    background-color: var(--light-cyan);
    border-bottom-right-radius: 5px;
}

div.single-price-component section.why-us-part p {
    font-size: 14px;
}

@media screen and (max-width: 700px) {
    div.single-price-component {
        max-width: 375px;
        flex-direction: column;
    }

    div.single-price-component section.subscription-part {
        border-bottom-left-radius: unset;
    }

    div.single-price-component section.why-us-part {
        border-bottom-left-radius: 5px;
    }
}